@import "https://fonts.googleapis.com/css2?family=Cairo&display=swap";

$mainColor: #2b79c2;
$buttonColor1: #e5233d;
$buttonColor2: #69bc2a;
$mainFont: "Cairo", sans-serif;

body {
  direction: rtl;
  height: 1000px;
  font-family: $mainFont;
}

.clear {
  clear: both;
}

// start upper nav
.upper-nav {
  padding-top: 50px;
  .logo {
    text-align: right;
    position: relative;
    img {
      width: 10%;
      float: right;
    }
    .logo-content {
      text-align: right;
      p {
        position: absolute;
        right: 10%;
        bottom: -15%;
        margin: 0;
      }
    }
  }
  .login-country {
    .login {
      color: $mainColor;
      font-size: 15px;
    }
    .country {
      font-size: 18px;
      margin-bottom: -3px;
    }
    .new-account {
      font-size: 10px;
    }
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        border-right: 1px solid #ddd;
        padding: 8px;
        text-align: right;
        select {
          border: 0;
          background-color: transparent;
          font-size: 10px;
          option {
            font-size: 15px !important;
          }
        }
      }
    }
  }
}

// start navbar
.navbar {
  background-color: $mainColor;
  position: relative;
  .add-your-ads-search {
    position: absolute;
    left: 5%;
    .btn {
      color: #fff;
      transition: all 0.5s linear;
    }
    .btn:first-child {
      background-color: $buttonColor1 !important;
      border: 1px solid $buttonColor1;
      &:hover {
        background-color: #06162a !important;
        border: 1px solid #06162a;
      }
    }
    .btn:last-child {
      background-color: $buttonColor2 !important;
      border: 1px solid $buttonColor2;
      &:hover {
        background-color: #06162a !important;
        border: 1px solid #06162a;
      }
    }
  }
  .navbar-toggler {
    color: #fff !important;
    border: 1px solid #fff !important;
    .navbar-toggler-icon {
      color: #fff !important;
    }
  }
  .navbar-nav {
    .nav-link {
      color: #fff !important;
      i {
        margin-left: 4px !important;
        font-size: 13px;
      }
    }
  }
}

#btnclose {
  background-color: #ddd;
  width: 100% !important;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

// start slider
.slider {
  .carousel-inner {
    .carousel-item {
      background-size: cover;
      background-position: center;
      height: 60vh;
    }
    .carousel-item:first-child {
      background-image: linear-gradient(
          to right,
          rgba(9, 35, 66, 0.99),
          rgba(9, 35, 66, 0.43)
        ),
        url("../images/slider-3.jpg");
    }
    .carousel-item:nth-child(2) {
      background-image: linear-gradient(
          to right,
          rgba(9, 35, 66, 0.99),
          rgba(9, 35, 66, 0.43)
        ),
        url("../images/slider-2.jpg");
    }
    .carousel-item:last-child {
      background-image: linear-gradient(
          to right,
          rgba(9, 35, 66, 0.99),
          rgba(9, 35, 66, 0.43)
        ),
        url("../images/slider-1.jpg");
    }
    .carousel-caption {
      position: absolute;
      top: 28%;
      right: 70%;
      text-align: right;
      width: 20%;
      h5 {
        font-size: 40px;
      }
      p {
        color: red;
        font-size: 30px;
      }
      .btn {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 10px;
        color: #fff;
      }
    }
  }
  .fa-chevron-right,
  .fa-chevron-left {
    &::before {
      border-radius: 50%;
      background-color: #06162a !important;
      border: 1px solid #06162a !important;
      font-size: 23px !important;
      width: 60px !important;
      height: 60px !important;
      display: inline-block !important;
      line-height: 60px !important;
    }
  }
  .carousel-indicators {
    li {
      width: 7px;
      height: 7px;
      border-radius: 50%;
    }
  }
}

.modal{
  form{
    input{
      border-radius: 5px !important;
      border: 0 !important;
      border: 1px solid #ddd !important;
      padding: 7px !important;
    }
    .country,
    .city {
      width: 50%;
      float: right;
      select {
        width: 90%;
        border: 0;
        background-color: transparent;
        border: 1px solid #ddd;
        padding: 7px;
        border-radius: 5px;
      }
    }
    .price {
      input {
        width: 45%;
        margin: 4px;
        float: right;
      }
    }
  }
}

// start ads-search
.ads-search {
  .ads,
  .search {
    border: 1px solid #ddd;
  }
  .search {
    form {
      padding: 10px;
    }
    input {
      border-radius: 5px;
      border: 0;
      border: 1px solid #ddd;
      padding: 7px;
    }
    .search-all {
      width: 100%;
      margin-bottom: 5px;
    }
    .country,
    .city {
      width: 50%;
      float: right;
      select {
        width: 90%;
        border: 0;
        background-color: transparent;
        border: 1px solid #ddd;
        padding: 7px;
        border-radius: 5px;
      }
    }
    .price {
      input {
        width: 45%;
        margin: 4px;
        float: right;
      }
    }
    .btn {
      background-color: $buttonColor2;
      width: 100%;
      color: #fff;
      font-size: 18px;
      transition: all 0.5s linear;
      &:hover {
        background-color: $buttonColor1;
      }
    }
  }
  .ads {
    padding-bottom: 15px;
    .card {
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      img {
        transition: all 0.5s ease-in-out;
        &:hover {
          filter: grayscale(100%);
        }
      }
      .card-body {
        padding: 0 !important;
        a{
          color: #000 !important;
          text-decoration: none !important;
          &:hover{
            color: $mainColor !important;
          }
        }
      }
      .card-title {
        margin: 0;
        padding: 10px 15px 0 0;
        margin-bottom: 5px;
        font-size: 17px;
      }
      .type {
        @extend %typeads;
        border: 1px solid $buttonColor1;
        background-color: $buttonColor1;
      }
      span {
        padding: 0 15px 0 0;
        font-size: 10px;
        color: #333;
        margin-left: 15px;
        i {
          margin-left: 4px;
        }
      }
      .key-words {
        padding: 10px 15px 10px 0;
        margin-top: 10px;
        background-color: #ddd;
        span {
          padding-right: 0 !important;
        }
        span:last-child {
          font-size: 15px;
          color: $buttonColor1;
          font-weight: bold;
          position: absolute;
          left: 2%;
        }
      }
    }
    .type-grow {
      @extend %typeads;
      text-align: center !important;
      border: 1px solid $buttonColor2 !important;
      background-color: $buttonColor2 !important;
      padding-right: 0 !important;
    }
    .grow-card {
      .key-words {
        .last {
          color: $buttonColor2 !important;
        }
      }
    }
    .swiper-container {
      padding-bottom: 40px !important;
      .swiper-pagination {
        bottom: -40px !important;
        height: 60px;
      }
    }
  }
  h6 {
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px;
  }
  .part {
    .card {
      margin-top: 10px;
      border: 1px solid #ddd;
      img {
        width: 100%;
      }
    }
    .part-name {
      background-color: #eee;
      padding-top: 5px;
    }
    .ad-card {
      background-color: $mainColor;
      height: 250px;
      position: relative;
      .add-your-ad {
        background-color: #fff;
        height: 150px;
        width: 100%;
        position: absolute;
        top: 20%;
        .content {
          padding-top: 40px;
        }
      }
    }
  }
  .ads-now {
    padding-bottom: 70px;
    border: 1px solid #ddd;
    h6 {
      margin: 0;
    }
    .type {
      @extend %typeads;
      background-color: $buttonColor1;
      border: 1px solid $buttonColor1;
      text-align: center !important;
      padding-top: 0 !important;
      padding-right: 0 !important;
      color: #fff !important;
    }
    .type-grow {
      @extend %typeads;
      background-color: $buttonColor2;
      border: 1px solid $buttonColor2;
      text-align: center !important;
      padding-top: 0 !important;
      padding-right: 0 !important;
      color: #fff !important;
    }
    .card {
      background-color: #f6f8fa;
      img {
        transition: all 0.5s ease;
        &:hover {
          filter: grayscale(100%);
        }
      }
      .card-title {
        font-size: 18px;
        padding: 20px 20px 0 0;
      }
      span {
        display: inline-block;
        margin-left: 25px;
        padding: 20px 20px 0 0;
        color: #666;
        i {
          margin-left: 5px;
        }
      }
      .card-body {
        padding: 0;
        a{
          color: #000 !important;
          text-decoration: none;
          &:hover{
            color: $mainColor !important;
          }
        }
      }
    }
    .key-words {
      background-color: #ddd;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px !important;
      span {
        padding-top: 0 !important;
        margin: 0;
      }
      .last {
        position: absolute;
        left: 2%;
        color: $buttonColor1;
        font-weight: bold;
      }
    }
    .card-grow {
      .last {
        color: $buttonColor2;
        font-weight: bold;
      }
    }
    nav {
      position: relative;
      .pagination {
        margin-top: 35px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// start login-rigister page
.path {
  text-align: right;
  background-color: #ddd;
  padding: 20px;
  a{
    color: #000 !important;
    text-decoration: none;
    &:hover{
      color: $mainColor !important;
    }
  }
  i {
    font-size: 13px;
  }
}

.login-rigister {
  form {
    .form-input {
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      border: 0;
      border: 1px solid #ddd;
    }
    .remember {
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .btn {
      color: #fff;
    }
    .btn-login {
      background-color: $buttonColor1;
      border: 1px solid $buttonColor1;
    }
    .btn-rigister {
      background-color: $buttonColor2;
      border: 1px solid $buttonColor2;
    }
  }
}

// start conatct page
.contact {
  .contact-info {
    i {
      border: 1px solid #000;
      padding: 10px;
      background-color: $buttonColor1;
      border: 1px solid $buttonColor1;
      color: #fff;
      border-radius: 5px;
    }
    span {
      font-weight: bold;
    }
  }
  .contact-form {
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      border: 1px solid #ddd;
    }
    textarea {
      width: 100% !important;
      border-radius: 5px;
      border: none;
      border: 1px solid #ddd;
      padding: 10px;
    }
    button {
      background-color: $buttonColor2;
      border: 1px solid $buttonColor2;
    }
  }
}

// start show ads
.show-ads {
  .ads-info {
    .swiper-container {
      width: 100%;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      .special-ads {
        z-index: 3;
        display: inline-block;
        position: absolute;
        background-color: $buttonColor2;
        border: 1px solid $buttonColor2;
        width: 15%;
        padding: 10px !important;
        text-align: center;
        border-radius: 10px;
        color: #fff;
        left: 3%;
        top: 2%;
      }
    }
    .swiper-slider {
      .swiper-slide {
        background-size: cover;
        background-position: center;
      }
      .gallery-top {
        height: 80%;
        width: 100%;
      }
      .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }
      .gallery-thumbs .swiper-slide {
        height: 100%;
        opacity: 0.4;
      }
      .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
      }
      .swiper-wrapper {
        .image-top {
          height: 70vh;
        }
      }
      .swiper-wrapper {
        .image-down {
          height: 20vh;
        }
      }
    }
    .ads-header {
      .header {
        margin-top: 15px;
        font-size: 20px;
        float: right;
      }
      .price {
        color: #fff;
        padding: 10px;
        width: 20%;
        text-align: center;
        font-size: 20px;
        float: left;
        border: 1px solid $buttonColor1;
        background-color: $buttonColor1;
      }
    }
    .table-infor {
      .table {
        margin-bottom: 0 !important;
      }
      margin-top: -10px !important;
      border: 1px solid #ddd;
      td {
        padding-right: 40px !important;
      }
      h6 {
        font-size: 25px;
        padding-right: 20px;
        padding-top: 10px;
        margin: 10px 0px 20px 0px;
        i {
          color: $mainColor;
          font-size: 25px;
        }
      }
      .table-word {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
    .descr {
      border: 1px solid #ddd;
      h6 {
        font-size: 25px;
        padding-right: 20px;
        padding-top: 10px;
        margin: 10px 0px 20px 0px;
        i {
          color: $mainColor;
          font-size: 25px;
        }
      }
      .desr-par {
        line-height: 25px;
        color: #444;
      }
    }
    .contact-data {
      border: 1px solid #ddd;
      h6 {
        font-size: 25px;
        padding-right: 20px;
        padding-top: 10px;
        margin: 10px 0px 20px 0px;
        i {
          color: $mainColor;
          font-size: 25px;
        }
      }
      ul {
        padding: 0;
        padding-right: 20px;
        li {
          display: inline-block;
          margin-left: 20px;
          i {
            font-size: 20px;
            margin-left: 10px;
            color: #444;
          }
          span {
            font-size: 20px;
            color: #444;
          }
        }
      }
    }
    .social-media {
      text-align: center;
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
      span {
        margin-top: 35px;
        display: inline-block;
        width: 15%;
        i {
          color: #888;
          font-size: 30px;
          &:hover{
            color: $mainColor;
          }
        }
      }
    }
    form {
      margin-top: 50px;
      input {
        border: 0;
        border: 1px solid #ddd;
        padding: 10px;
      }
      button {
        padding: 10px;
        background-color: $buttonColor1;
        border: 0;
        border: 1px solid $buttonColor1;
        color: #fff;
      }
    }
  }
  .related-ads {
    h6 {
      margin-top: 15px;
      font-size: 25px;
      i {
        color: $mainColor;
        font-size: 25px;
      }
    }
    .card {
      background-color: #f6f8fa;
      img {
        transition: all 0.5s ease;
        &:hover {
          filter: grayscale(100%);
        }
      }
      .card-title {
        font-size: 18px;
        padding: 20px 20px 0 0;
      }
      span {
        display: inline-block;
        margin-left: 15px;
        padding: 0px 20px 10px 0;
        color: #666;
        font-size: 14px;
        i {
          margin-left: 5px;
        }
      }
      .card-body {
        padding: 0;
        a{
          color: #000 !important;
          text-decoration: none;
          &:hover{
            color: $mainColor !important;
          }
        }
      }
      .grow-card {
        .key-words {
          .last {
            color: $buttonColor2 !important;
          }
        }
      }
      .type {
        @extend %typeads;
        background-color: $buttonColor1;
        border: 1px solid $buttonColor1;
        top: 5% !important;
        text-align: center !important;
        padding-top: 0 !important;
        padding-right: 0 !important;
        color: #fff !important;
      }
      .type-grow {
        @extend %typeads;
        background-color: $buttonColor2;
        top: 5% !important;
        border: 1px solid $buttonColor2;
        text-align: center !important;
        padding-top: 0 !important;
        padding-right: 0 !important;
      }
      .key-words {
        background-color: #ddd;
        position: inherit;
        bottom: 0;
        width: 100%;
        padding: 10px !important;
        span {
          padding-top: 0 !important;
          margin: 0;
          // position: absolute;
          // right: 0;
          padding-right: 0 !important;
          font-size: 12px;
          text-align: right;
        }
        .last {
          position: absolute;
          left: 0%;
          color: $buttonColor1;
          font-weight: bold;
          font-size: 15px;
          padding-left: 5px;
          padding-top: 3px !important;
        }
      }
    }
  }
}

// satrt footer
footer {
  background-color: $mainColor;
  .logo-content-logo {
    padding-right: 10px;
  }
  .logo {
    padding-bottom: 10px;
    text-align: right;
    position: relative;
    color: #fff;
    img {
      width: 50%;
    }
    .logo-content {
      text-align: right;
      p {
        position: absolute;
        right: 10%;
        bottom: -1%;
        margin: 0;
      }
    }
  }
  .help-content {
    padding-right: 90px;
    padding-top: 10px;
    ul {
      list-style-type: square;
      li {
        margin-top: 5px;
      }
    }
  }
  .social-content {
    padding-right: 90px;
    padding-top: 10px;
    .social {
      i {
        display: inline-block;
        color: #fff;
        border: 1px solid #06162a;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #06162a;
        transition: all 0.5s ease;
        &:hover {
          background-color: $buttonColor1;
          border: 1px solid $buttonColor1;
        }
      }
    }
    input {
      padding: 15px;
      background-color: #256caf;
      border: 0;
      width: 80%;
      color: #fff !important;
      border-radius: 9px;
      text-align: center;
      &::placeholder {
        color: #fff;
        opacity: 1; /* Firefox */
      }
    }
    button {
      border: 0 !important;
      border: 1px solid $buttonColor1;
      background-color: $buttonColor1;
      padding: 15px;
      border-radius: 9px;
      width: 80%;
      margin-top: 10px;
      color: #fff;
      margin-bottom: 10px;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: #06162a;
      }
    }
  }
  .copy {
    background-color: #256caf;
    padding: 20px;
    position: relative;
    h5 {
      margin: 0;
      font-size: 15px;
      color: #fff;
      margin-top: 20px;
      float: right;
    }
    .logo-funun {
      width: 50%;
      float: left;
      img {
        width: 30%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .slider {
    .carousel-inner {
      .carousel-caption {
        top: 28%;
        right: 48%;
        width: 39%;
      }
    }
  }
  footer {
    .social-content {
      input {
        // width: 73% !important;
      }
    }
  }
}

@media (max-width: 800px) {
  .navbar-nav {
    margin-left: auto;
    text-align: right;
    padding: 0;
    margin-top: 5px;
  }
  .logo {
    .logo-content {
      p {
        bottom: -33% !important;
      }
    }
  }
  .search {
    .country,
    .city {
      width: 100% !important;
      float: none !important;
    }
    .price {
      input {
        width: 100% !important;
      }
    }
  }
  .ads-now {
    .key-words {
      position: inherit !important;
      margin-top: 10px !important;
    }
  }
  footer {
    .logo-content-logo {
      padding-right: 0px !important;
    }
    .logo {
      .logo-content {
        p {
          bottom: 2% !important;
        }
      }
    }
    .help-content,
    .social-content {
      padding-right: 0 !important;
    }
  }
}

@media (max-width: 524px) {
  .upper-nav {
    .logo {
      img {
        width: 10% !important;
        margin-top: 10px;
      }
    }
  }
  .login-country {
    text-align: right;
    margin-top: 20px;
  }
  .slider {
    .carousel-inner {
      .carousel-caption {
        top: 22%;
        right: 20%;
        width: 67%;
      }
    }
    .fa-chevron-right,
    .fa-chevron-left {
      &::before {
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
      }
    }
  }

  .show-ads{
    .ads-info{
      .price{
        width: 50% !important;
        float: right !important;
        margin-top: 10px !important;
      }
    }
  }

  .ads-search {
    .ads,
    .ads {
      .card {
        width: 100% !important;
        margin-top: 10px !important;
      }
    }
  }
  .ads-search {
    .ads-now {
      .key-words {
        position: inherit;
        margin-top: 34px !important;
      }
    }
  }
  .ads-search {
    .ads-now nav {
      .pagination {
        left: 56% !important;
      }
    }
  }
  footer {
    .help-content,
    .social-content {
      padding-right: 0 !important;
    }
    .copy {
      .logo-funun {
        width: 100% !important;
        text-align: right;
        img {
          width: 40% !important;
          margin-top: 15px;
        }
      }
    }
  }
}

%typeads {
  position: absolute;
  top: 2%;
  z-index: 5;
  right: 2%;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-size: 15px;
}
